/* Global props */

:root {
    --cc-1: #00628d;
    --cc-2: #1654bf;
    --cc-3: #529bca;
    --cc-4: #72b9ea;
    --cc-5: #96d1fb;
    --cc-6: #bae0fc;
    --cc-7: #dbeffe;
    --cc-8: #fbffff;
}

/* Reset CSS */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

a {
    text-decoration: none;
}

/* Boostrap Styles */

#banner {
    height: 100vh !important;
}

#banner, #main, section, #footer {
    overflow-x: hidden;
}

.navbar {
    position: relative;
    z-index: 999;
}

.nav-link a:hover {
    color: var(--cc-1);
}

.btn-sign-up {
    --bs-btn-hover-bg: var(--cc-3);
    --bs-btn-color-bg: var(--cc-1);
    --bs-btn-color: white;
    background-color: var(--cc-2);
}

/* Custom styles */

.logo-img {
    width: 40%;
}

#banner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#banner .hero {
    position: relative;
    z-index: 10;
}

.sign-up {
    width: 85%;
    border-radius: 16px;
    background-color: var(--cc-3);
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transition: all .3s ease;
}

.pricing {
    width: 85%;
    border-radius: 16px;
    background-color: var(--cc-6);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.icon-box {
    width: 90px;
    height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    flex: none;
}

#benefits {
    background-color: var(--cc-6);
}

.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
    background: var(--cc-7);
}

 /* Abouts US*/
#about {
    background-color: var(--cc-3);
}

/* Testimonials */
#testimonials {
    background-color: var(--cc-3);
}

/*Pricing*/
#pricing {
    background-color: var(--cc-6);
}

/*------------ Plains Prices ------------*/

.plains .add_cart > a {
    width: 70%;
    margin: 0 auto;
    padding: 15px 0;
    /* border: 1px solid #ca416f; */
    border-radius: 8px;
    color: #fff;
    background-color: var(--cc-3);
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 17px;
}

.video-section {
    background-color: var(--cc-6);
/*    center*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;


}

.plains .plains_info {
    border-radius: 1rem;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.08);
    color: #333;
    transition: all 0.3s ease-in-out;
    background-color: var(--cc-7);
    /* border: 1px solid #8172f3; */
}

.plains .plains_info > h1 > span {
    font-size: 17px;
    text-transform: lowercase;
}

.plains ul {
    list-style-type: none;
    padding: 0;
}

.plains ul > li::before {
    content: '\2022';
    color: black;
    font-weight: bold;
    margin-right: 8px;
}
/* Footer Container */
.container-footer {
    background-color: #0066AE ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%; /* Reduce la altura a un 80% */
}

/* Footer General Styling */


/* Footer Left Section */
.footer-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.footer-icon {
    margin-right: 10px;
}

.footer-quote {
    max-width: 300px;
}

/* Footer Links */
.footer-links {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    columns: 2; /* Two columns for the links */
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    text-decoration: none;
    color: #000;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Footer Right Section */
.footer-right {
    text-align: right;
    flex: 1;
}

.footer-brand h2 {
    margin: 0;
}

.footer-socials {
    margin-top: 10px;
}

.footer-socials span {
    display: block;
    margin-bottom: 5px;
}

.footer-socials a {
    color: #000;
    margin-left: 10px;
}

.footer-socials a:hover {
    color: #007bff;
}
